@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, mai;
 }

:root{
  margin-top: -5rem;
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
}

@plugin "daisyui/theme" {
  name: "mai";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(27% 0.033 256.848);
  --color-base-300: oklch(13% 0.028 261.692);
  --color-base-content: oklch(85% 0.138 181.071);
  --color-primary: oklch(50% 0.134 242.749);
  --color-primary-content: oklch(98% 0.019 200.873);
  --color-secondary: oklch(70% 0.14 182.503);
  --color-secondary-content: oklch(26% 0.051 172.552);
  --color-accent: oklch(66% 0.179 58.318);
  --color-accent-content: oklch(97% 0.013 17.38);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(14% 0 0);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(14% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(14% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
